PUSHC 5.0
SET a
JMP cond1
body1: PUSHV a
PUSHC 1
ADD
SET a
PUSHC 2.0
PRINT
cond1: PUSHV a
PUSHC 50.0
COND_OP <
JINZ body1
PUSHC 5.0
SET b
JMP cond2
body2: PUSHV b
PUSHC 6.0
ADD
SET b
PUSHC 2.0
PRINT
cond2: PUSHV b
PUSHC 200.0
PUSHC 9.0
MUL
COND_OP ==
JINZ body2
PUSHC 5.0
SET b
JMP cond3
body3: PUSHV b
PUSHC 6.0
ADD
SET b
PUSHC 2.0
PRINT
cond3: PUSHV b
PUSHC 200.0
PUSHC 9.0
MUL
COND_OP ==
JINZ body3
PUSHC 5.0
SET c
JMP cond4
body4: PUSHV c
PUSHC 1
SUB
SET c
PUSHC 2.0
PRINT
cond4: PUSHV c
PUSHC 50.0
COND_OP >
PUSHV c
PUSHC 150.0
COND_OP <
AND
JINZ body4
PUSHC 0.0
SET d
PUSHC 1.0
SET d
JMP cond5
body5: PUSHV d
PUSHC 0.041
ADD
SET d
PUSHC 456.0
PRINT
cond5: PUSHV d
PUSHC 2.0
COND_OP <
JINZ body5
PUSHC 5.0
SET a
PUSHV a
PRINT
