PUSHC 5.0
SET a
JMP cond1
body1: PUSHV a
PUSHV 1
ADD
SET a
PUSHC 2.0
PRINT
cond1: PUSHC 1
JINZ body1
PUSHC 5.0
SET b
JMP cond2
body2: PUSHV b
PUSHC 6.0
ADD
SET b
PUSHC 2.0
PRINT
cond2: PUSHC 0
JINZ body2
PUSHC 5.0
SET b
JMP cond3
body3: PUSHV b
PUSHC 6.0
ADD
SET b
PUSHC 2.0
PRINT
cond3: PUSHC 0
JINZ body3
PUSHC 5.0
SET c
JMP cond4
body4: PUSHV c
PUSHV 1
SUB
SET c
PUSHC 2.0
PRINT
cond4: PUSHC 0
JINZ body4
PUSHC 0.0
SET d
PUSHC 1.0
SET d
JMP cond5
body5: PUSHV d
PUSHC 0.041
ADD
SET d
PUSHC 456.0
PRINT
cond5: PUSHC 1
JINZ body5
PUSHC 5.0
SET a
PUSHV a
PRINT
