cond1: PUSHC 1
PUSHC 2.0
PRINT
cond2: PUSHC 1
PUSHC 2.0
PRINT
cond3: PUSHC 1
PUSHC 2.0
PRINT
cond4: PUSHC 5.0
PRINT
cond5: PUSHC 1
PUSHC 4.0
PRINT
cond6: PUSHC 1
PUSHC 4.0
PRINT
cond7: PUSHC 1
PUSHC 4.0
PRINT
