PUSHC 5.0
SET a

body1: PUSHC 2.0
PRINT
cond1: PUSHC 1

body2: PUSHC 2.0
PRINT
cond2: PUSHC 1

body3: PUSHC 2.0
PRINT
cond3: PUSHC 1

body4: PUSHC 5.0
PRINT
cond4: PUSHC 0

body5: PUSHC 6.0
PRINT
cond5: PUSHC 1

body6: PUSHC 7.0
PRINT
cond6: PUSHC 1

body7: PUSHC 8.0
PRINT
cond7: PUSHC 1
