PUSHC 2.0
SET a
PUSHC 1.0
SET b
JMP cond1
body1: PUSHV a
PUSHC 1
ADD
SET a
PUSHC 5.0
PRINT
cond1: PUSHV a
PUSHC 6.0
COND_OP <=
PUSHV b
PUSHC 4.0
COND_OP <
AND
JINZ body1
JMP cond2
body2: PUSHV a
PUSHC 1
SUB
SET a
PUSHC 2.0
PRINT
JMP cond2
cond2: PUSHC 2.0
PUSHC 9.0
COND_OP ==
PUSHC 1.0
PUSHV a
COND_OP <
OR
JINZ body2
JMP cond4
body4: PUSHV a
PUSHC 1
SUB
SET a
cond4: PUSHV a
PUSHC 1.0
COND_OP >
JINZ body4
